body {
    font-family: Arial, sans-serif;
    background-color: #242424;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 50%;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #1a1b1a;
    color: #efefef;
}
h1 {
    text-align: center;
    color: rgb(83, 25, 217);
    margin-bottom: 20px;
}
fieldset {
    border: 1px solid #444;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
}
legend {
    font-weight: bold;
    color: #cfcfcf;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label{
    margin: 2px;
}

#dynamicInput {
    background-color: #242424;
    color: #efefef;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
#dynamicInput {
    outline: none;
    border-color: #5319d9;
}
#dynamicField {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
}
.hidden {
    display: none;
}
p {
    text-align: center;
}
input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="reset"] {
    background-color: #f44336;
    color: white;
}
input[type="reset"]:hover {
    background-color: #e53935;
}